.pf {
  font-size: 12px;
  width: 100%;
}
.pr {
  display: flex;
  //flex-wrap: wrap;
  margin-top: 8px;
  margin-bottom: 8px;
}
// .pc {
// }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col {
  padding: 0;
}
.row {
  //line-height: 1.5rem;
  margin: 8px 0;
  margin-top: 8px;
  margin-bottom: 8px;
  flex-wrap: nowrap;
}
h4, h5 {
  margin: 8px;
  text-align: center;
}
.postPressTitle {
  border-bottom: 1px solid gray;
}
