<form [formGroup]="orderForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Заказ</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!-- <app-select-division
        formControlName="division"
        placeholder="Служба"
        (optionSelected)="search()">
      </app-select-division> -->
    </mat-card-content>
    <mat-card-actions>
      <a mat-button routerLink="/document/order/-1">Создать</a>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>

<p>order-edit works!</p>
  <button mat-button>Сохранить</button>
<button mat-button (click)="back()">Вернуться</button>