<form [formGroup]="orderForm" novalidate>
  <h2>Заказ</h2>

  <div class="row">
    <mat-form-field class="col-6 col-lg-8">
      <input matInput placeholder="Наименование" formControlName="name">
    </mat-form-field>
    <mat-form-field class="col-3 col-lg-2">
      <input matInput formControlName="regDate" [matDatepicker]="picker" placeholder="Дата регистрации">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="col-3 col-lg-2">
      <input matInput placeholder="Номер" formControlName="number">
    </mat-form-field>
  </div>

  <div class="row">
  </div>

  <div class="row">
    <app-select-division class="col-6 col-lg-3"
      formControlName="division"
      placeholder="Заказчик"
      requiredMsg="Укажите заказчика"
      [loDivision]="orderForm.get('subdivision')">
    </app-select-division>

    <app-select-division class="col-6 col-lg-3"
      formControlName="subdivision"
      placeholder="Подразделение"
      [topDivision]="orderForm.get('division')">
    </app-select-division>

    <mat-form-field class="col-6 col-lg-3">
      <input matInput
        placeholder="Контактное лицо"
        formControlName="contact"
        [matAutocomplete]="autoContact">
      <mat-autocomplete
        #autoContact="matAutocomplete"
        [displayWith]="displayFn">
        <mat-option *ngFor="let item of contact$ | async" [value]="item">
          {{item.name}} ({{item.tel}})
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="orderForm.get('contact').hasError('required')">
        Укажите контактное лицо
      </mat-error>
    </mat-form-field>

    <mat-form-field class="col-6 col-lg-3">
      <input matInput placeholder="Телефон" formControlName="contactTel">
    </mat-form-field>
  </div>

  <h4>Обложка</h4>

  <div formGroupName="cover" class="row">
    <mat-form-field class="col-4 col-lg-2">
      <mat-label>Печатное оборудование</mat-label>
      <mat-select formControlName="equipmentId">
        <mat-option></mat-option>
        <mat-option *ngFor="let item of equipment$ | async" [value]="item.id">
          {{item.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="col-4 col-lg-2">
      <mat-label>Формат печатного листа</mat-label>
      <mat-select formControlName="formatId">
        <mat-option></mat-option>
        <mat-option *ngFor="let item of format$ | async" [value]="item.id">
          {{item.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="col-4 col-lg-2">
      <mat-label>Материал</mat-label>
      <mat-select formControlName="materialId">
        <mat-option></mat-option>
        <mat-option *ngFor="let item of material$ | async" [value]="item.id">
          {{item.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="col-4 col-lg-2">
      <mat-label>Плотность</mat-label>
      <mat-select formControlName="paperId">
        <mat-option></mat-option>
        <mat-option *ngFor="let item of paper$ | async" [value]="item.id">
          {{item.density}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="col-4 col-lg-2">
      <mat-label>Цветность</mat-label>
      <mat-select formControlName="color">
        <mat-option></mat-option>
        <mat-option *ngFor="let item of color$ | async" [value]="item.name">
          {{item.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- <div class="col-3 col-lg-2" style="display: flex;">
      <mat-form-field style="flex: 1 1 auto; min-width: 0px;">
        <mat-label>Цветность</mat-label>
        <mat-select formControlName="color1">
          <mat-option *ngFor="let item of color$ | async" [value]="item.id">
            {{item.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <span style="align-self: center; white-space: pre;">   +   </span>
      <mat-form-field style="flex: 1 1 auto; min-width: 0px;">
        <mat-select formControlName="color2">
          <mat-option *ngFor="let item of color$ | async" [value]="item.id">
            {{item.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div> -->

    <mat-form-field class="col-3 col-lg-2">
      <input matInput placeholder="Количество печатных листов" formControlName="count">
    </mat-form-field>

    <mat-form-field class="col-3 col-lg-2">
      <input matInput placeholder="Количество листов на приладку" formControlName="countAdj">
    </mat-form-field>

    <mat-form-field class="col-6 col-lg-3">
      <input matInput
        placeholder="Исполнитель"
        formControlName="contact"
        [matAutocomplete]="autoPerformer">
      <mat-autocomplete
        #autoPerformer="matAutocomplete"
        [displayWith]="displayFn">
        <mat-option *ngFor="let item of performer$ | async" [value]="item">
          {{item.name}}
        </mat-option>
      </mat-autocomplete>
      <!-- <mat-error *ngIf="orderForm.get('contact').hasError('required')">
        Укажите исполнителя
      </mat-error> -->
    </mat-form-field>

  </div>



  <h4>Блок</h4>

  <div formGroupName="block" class="row">
    <mat-form-field class="col-4 col-lg-2">
      <mat-label>Печатное оборудование</mat-label>
      <mat-select formControlName="equipmentId">
        <mat-option></mat-option>
        <mat-option *ngFor="let item of equipment2$ | async" [value]="item.id">
          {{item.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="col-4 col-lg-2">
      <mat-label>Формат печатного листа</mat-label>
      <mat-select formControlName="formatId">
        <mat-option></mat-option>
        <mat-option *ngFor="let item of format2$ | async" [value]="item.id">
          {{item.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="col-4 col-lg-2">
      <mat-label>Материал</mat-label>
      <mat-select formControlName="materialId">
        <mat-option></mat-option>
        <mat-option *ngFor="let item of material2$ | async" [value]="item.id">
          {{item.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="col-4 col-lg-2">
      <mat-label>Плотность</mat-label>
      <mat-select formControlName="paperId">
        <mat-option></mat-option>
        <mat-option *ngFor="let item of paper2$ | async" [value]="item.id">
          {{item.density}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="col-4 col-lg-2">
      <mat-label>Цветность</mat-label>
      <mat-select formControlName="color">
        <mat-option></mat-option>
        <mat-option *ngFor="let item of color2$ | async" [value]="item.name">
          {{item.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- <div class="col-3 col-lg-2" style="display: flex;">
      <mat-form-field style="flex: 1 1 auto; min-width: 0px;">
        <mat-label>Цветность</mat-label>
        <mat-select formControlName="color1">
          <mat-option *ngFor="let item of color$ | async" [value]="item.id">
            {{item.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <span style="align-self: center; white-space: pre;">   +   </span>
      <mat-form-field style="flex: 1 1 auto; min-width: 0px;">
        <mat-select formControlName="color2">
          <mat-option *ngFor="let item of color$ | async" [value]="item.id">
            {{item.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div> -->

    <mat-form-field class="col-3 col-lg-2">
      <input matInput placeholder="Количество печатных листов" formControlName="count">
    </mat-form-field>

    <mat-form-field class="col-3 col-lg-2">
      <input matInput placeholder="Количество листов на приладку" formControlName="countAdj">
    </mat-form-field>

    <mat-form-field class="col-6 col-lg-3">
      <input matInput
        placeholder="Исполнитель"
        formControlName="contact"
        [matAutocomplete]="autoPerformer2">
      <mat-autocomplete
        #autoPerformer2="matAutocomplete"
        [displayWith]="displayFn">
        <mat-option *ngFor="let item of performer2$ | async" [value]="item">
          {{item.name}}
        </mat-option>
      </mat-autocomplete>
      <!-- <mat-error *ngIf="orderForm.get('contact').hasError('required')">
        Укажите исполнителя
      </mat-error> -->
    </mat-form-field>

  </div>

  <div class="button-row">
      <button mat-button (click)="back()">Вернуться</button>
      <!-- <button mat-raised-button color="primary" type="submit">Сохранить</button> -->
      <button mat-raised-button color="primary" (click)="save()" [disabled]="!orderForm.valid">Сохранить</button>
  </div>




  <!-- <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Заказ</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card> -->
</form>
<!-- [formControl]="divisionFC" -->

<!-- <p>order-edit works!</p>
  <button mat-button>Сохранить</button>
<button mat-button (click)="back()">Вернуться</button> -->