<form [formGroup]="orderForm" novalidate>
  <h2>Заказ</h2>

  <div class="row">
    <mat-form-field class="col-6 col-lg-8">
      <input matInput placeholder="Наименование" formControlName="name">
    </mat-form-field>
    <mat-form-field class="col-3 col-lg-2">
      <input matInput formControlName="regDate" [matDatepicker]="picker" placeholder="Дата регистрации">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="col-3 col-lg-2">
      <input matInput placeholder="Номер" formControlName="number">
    </mat-form-field>
  </div>

  <div class="row">
  </div>

  <div class="row">
    <app-select-division class="col-6 col-lg-3"
      formControlName="division"
      placeholder="Заказчик"
      requiredMsg="Укажите заказчика"
      [loDivision]="orderForm.get('subdivision')">
    </app-select-division>

    <app-select-division class="col-6 col-lg-3"
      formControlName="subdivision"
      placeholder="Подразделение"
      [topDivision]="orderForm.get('division')">
    </app-select-division>

    <mat-form-field class="col-6 col-lg-3">
      <input matInput
        placeholder="Контактное лицо"
        formControlName="contact"
        [matAutocomplete]="autoContact">
      <mat-autocomplete
        #autoContact="matAutocomplete"
        [displayWith]="displayFn">
        <mat-option *ngFor="let item of contact$ | async" [value]="item">
          {{item.name}} ({{item.tel}})
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="orderForm.get('contact').hasError('required')">
        Укажите контактное лицо
      </mat-error>
      <button
        mat-button
        *ngIf="orderForm.get('contact').value"
        matSuffix
        mat-icon-button
        (click)="orderForm.get('contact').reset()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="col-6 col-lg-3">
      <input matInput placeholder="Телефон" formControlName="contactTel">
    </mat-form-field>
  </div>

  <app-press-edit #cover name="Обложка" [press]="order.cover"></app-press-edit>
  <app-press-edit #block name="Блок" [press]="order.block"></app-press-edit>

  <div class="button-row">
      <button mat-button (click)="back()">Вернуться</button>
      <!-- <button mat-raised-button color="primary" type="submit">Сохранить</button> -->
      <button mat-raised-button color="primary" (click)="save()" [disabled]="!orderForm.valid">Сохранить</button>
  </div>




  <!-- <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Заказ</mat-card-title>
    </mat-card-header>
    <mat-card-content>

    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card> -->
</form>
<!-- [formControl]="divisionFC" -->

<!-- <p>order-edit works!</p>
  <button mat-button>Сохранить</button>
<button mat-button (click)="back()">Вернуться</button> -->
